
.Box {
    background-color: #2F2F2F;
    
  }
  
  .Rectangle {
    display: flex;
    flex-wrap: wrap;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logoContainer{
    padding: 15px;
    
  }
  .text {
    display: flex;
    flex-grow: 1; 
    justify-content: space-around;
    align-items: center;
  }
  
  .logoSize {
    margin-left: 15px;
    height: 136px;
    width: 136px;
    
  }
  
  .eng-text,
  .hindi-text,
  .tamil-text {
    color: #FFF;
    font-family: Lato;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @media only screen and (max-width: 768px){
    .Rectangle {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; /* Adjusted for better centering */
    }
  
    .text {
      flex-direction: column;
      text-align: center;
    }
  
    .eng-text,
    .hindi-text,
    .tamil-text {
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }